<html >
    <head>
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <!-- Include file with the controller -->
        <script src="/demo/random/random-service.factory.js"></script>
        <script src="/demo/random/random.controller.js"></script>
        <style>
            .text-danger {
            }
        </style>
    </head>
    <body ng-app="randomDemo">
        <div class="container" ng-controller="RandomController as randomVm">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <span class="navbar-brand">Random demo</span>
                </div>
            </nav>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p>
                        Get a random number from the service online. Faulty service returns random error with a 0.5 probability
                    </p>
                    <input class="btn btn-primary" type="button" value="Update" ng-click="randomVm.updateNextRandom()">
                    <h4 ng-class="{'text-danger': randomVm.randomNumber === null }" ng-show="randomVm.message">{{randomVm.message}}</h4>
                    <h3 ng-hide="randomVm.randomNumber === null">Random: {{randomVm.randomNumber}}</h3>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <textarea class="col-xs-12" disabled="true" ng-model="randomVm.messageHistory" rows="20"></textarea>
                </div>
            </div>
        </div>
    </body>

</html>
