<html ng-app >
    <head>
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <script src="/demo/todo-list-controller/todo-list.controller.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="row" ng-init="list=[]">
                <h2>Todo List #{{list.length}}</h2>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <input id="input" type="text" ng-model="itemText">
                    <input id="add-button" class="btn btn-default" type="button" value="Add" ng-click="list.push({text:itemText, done: false}); itemText = ''">
                </div>
                <div ng-repeat="item in list" class="col-xs-12">
                    <h4>
                        <input type="checkbox" ng-model="item.done">
                        {{item.text}}
                        <input class="btn btn-default btn-xs" type="button" value="X" ng-click="list.splice(list.indexOf(item), 1)">
                    </h4>
                </div>
            </div>
        </div>
    </body>

</html>
