<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/angular.bootstrap/0.13.3/ui-bootstrap-tpls.min.js"> </script>       <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <!-- Include file with the controller -->
        <script src="/Curso Angular/angular-example/client/demo/todo-list-controller/todo-list.controller.js"></script> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <style>
            .done {
                background-color: gray;
            }
        </style>
    </head>
    <body ng-app="todoListControllerDemo">
        <div class="container" ng-controller="TodoListController as todoVm">
            <div class="row">
                <h2>Todo List #{{todoVm.list.length}}</h2>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input id="input" type="text" placeholder="Type your task here..." ng-model="todoVm.itemText">
                    <input id="add-button" class="btn btn-default" type="button" value="Add" ng-click="todoVm.add(todoVm.itemText)">
                </div>
                <div ng-repeat="item in todoVm.list track by $index" class="col-xs-12">
                    <h4 ng-class="{done: item.done}">
                        <input type="checkbox" ng-model="item.done">
                        {{item.text}}
                        <input class="btn btn-default btn-xs" type="button" value="X" ng-click="todoVm.remove($index)">
                    </h4>
                </div>
            </div>
        </div>
    </body>

</html>
